################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/api/bin
/api/obj
/api/Properties
/publish
/web/node_modules
